<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/restaurants">RESTAURANT</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/restaurants">Home</a></li>
            <li><a href="#/restaurants/2/edit">Restaurants Edit</a></li>
            <li><a href="#/restaurants/2">Details</a></li>
            <li><a href="#/">Login</a></li>
        </ul>
    </div>
</nav>
