<div class="panel panel-primary">
    <div class="panel-heading">Restaurant Details</div>
    <div class="panel-body">
        <div class="row">
            <div class=" col-md-6">
                <label>Name :</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.name" class="form-control" id="name">
            </div>
            <div class=" col-md-6">
                <label>Cuisine :</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.cuisine" class="form-control" id="name">
            </div>
        </div>
        <div class="row">
            <div class=" col-md-6">
                <label>Borough :</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.borough" class="form-control" id="name">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Restaurant Address Details </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label for="name">Building:</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.address.building" class="form-control" id="name">
            </div>
            <div class="col-md-6">
                <label for="name">Street :</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.address.street" class="form-control " id="name ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="name">Cordinates:</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.address.coord" class="form-control" id="name">
            </div>
            <div class="col-md-6">
                <label for="name">Zipcode :</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.address.zipcode" class="form-control " id="name ">
            </div>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">Restaurant Grades Details </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label for="name">Building:</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.address.building" class="form-control" id="name">
            </div>
            <div class="col-md-6">
                <label for="name">Street :</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.address.street" class="form-control " id="name ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="name">Cordinates:</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.address.coord" class="form-control" id="name">
            </div>
            <div class="col-md-6">
                <label for="name">Zipcode :</label>
                <input type="name" ng-disabled="true" ng-model="restaurant.address.zipcode" class="form-control " id="name ">
            </div>
        </div>
    </div>
</div>
